<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Dosis:300,400,700"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{{ url_for('static', filename='images/logo.png') }}"
    />

    <title>Outing Tracker</title>

    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: "Dosis", sans-serif;
      }

      .container {
        width: 100%;
        height: 100vh;
        background: linear-gradient(
          rgba(6, 146, 69, 0.5),
          rgba(47, 80, 63, 0.6)
        );

        overflow: hidden;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url({{url_for("static", filename = "images/cover.jpg")}});
      }
      .banner {
        width: 100%;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }

      .banner h1 {
        font-size: 90px;
        color: yellow;
        font-weight: 300;
        margin-bottom: 30px;
        animation: moveToLeft 2s;
      }

      .banner span {
        text-transform: uppercase;
        font-size: 120px;
        font-weight: 700;
        color: red;
      }

      .banner p {
        font-size: 100px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 20px;
        animation: moveToRight 2s;
      }

      .banner button {
        width: 180px;
        padding: 12px;
        margin: 20px;
        border: 2px solid #eee;
        border-radius: 50px;
        font-size: 18px;
        outline: none;
        letter-spacing: 1px;
        cursor: pointer;
      }

      .btn-left {
        background-color: #eee;
        color: #444;
        animation: animateBtn 1s 1.5s backwards;
      }

      .btn-right {
        background-color: transparent;
        color: #eee;
        animation: animateBtn 1s 2.3s backwards;
      }

      @keyframes moveToLeft {
        0% {
          transform: translateX(120px);
          opacity: 0;
        }

        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }

      @keyframes moveToRight {
        0% {
          transform: translateX(-120px);
          opacity: 0;
        }

        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }

      @keyframes animateBtn {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }

      .btn,
      .btn:link,
      .btn:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        position: relative;
        font-size: 1.6rem;
        border: none;
        cursor: pointer;
      }
      .btn:hover {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
        -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      }
      .btn:hover::after {
        -webkit-transform: scaleX(1.4) scaleY(1.6);
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
      .btn:active,
      .btn:focus {
        outline: none;
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
        -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      }
      .btn--white {
        background-color: #fff;
        color: #777;
      }
      .btn--white::after {
        background-color: #fff;
      }
      .btn--green {
        background-color: #55c57a;
        color: #fff;
      }
      .btn--green::after {
        background-color: #55c57a;
      }
      .btn::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -6;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
      }
      .btn--animated {
        -webkit-animation: moveInBottom 0.5s ease-out 0.75s;
        animation: moveInBottom 0.5s ease-out 0.75s;
        -webkit-animation-fill-mode: backwards;
        animation-fill-mode: backwards;
      }
      .btn-text:link,
      .btn-text:visited {
        font-size: 1.6rem;
        color: #55c57a;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid #55c57a;
        padding: 3px;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
      }
      .btn-text:hover {
        background-color: #55c57a;
        color: #fff;
        -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
      }
      .btn-text:active {
        -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="banner">
        <h1>GCIT OUTING <span> TRACKING </span> SYSTEM</h1>
        <p>Face Recognition Application</p>
        <a href="{{ url_for('login') }}" class="btn btn--white btn--animated"
          >Login</a
        >
      </div>
    </div>
  </body>
</html>
