<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
        font-family: "Inconsolata", monospace;
      }

      html {
        font-size: 62.5%;
      }

      .container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(
          rgba(53, 82, 66, 0.5),
          rgba(47, 80, 63, 0.6)
        );
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url({{url_for("static", filename = "images/cover.jpg")}});
      }

      .heading {
        position: absolute;
        top: 5rem;
        font-size: 7rem;
        font-weight: 300;
        color: #f03535;
        letter-spacing: 1rem;
        text-shadow: 0.2rem 0.2rem 0.5rem #aaa;
      }

      .heading span {
        position: relative;
      }

      .heading-span-1 {
        z-index: 10;
      }

      .heading-span-2::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
        right: -100%;
        transition: right 0.6s;
      }

      .change .heading-span-2::after {
        right: 100%;
      }

      .buttons {
        position: absolute;
        top: 5rem;
        left: 5rem;
        display: flex;
        flex-direction: column;
      }

      .buttons button {
        width: 10rem;
        height: 4rem;
        font-size: 2rem;
        color: #f03535;
        border: none;
        border-radius: 5rem;
        letter-spacing: 0.1rem;
        box-shadow: 0.3rem 0.3rem 0.8rem #eee;
        margin: 1rem 0;
        cursor: pointer;
        transition: background-color 0.3s;
      }

      /* .signin-btn {
  background-color: #e7e7e7;
}

.change .signin-btn {
  background-color: #fff;
} */

      .form-bg {
        position: absolute;
        width: 65rem;
        height: 65rem;
        box-shadow: 1.5rem 1.5rem 1.5rem #ddd;
        transform: rotate(45deg);
      }

      .form {
        display: flex;
        flex-direction: column;
        z-index: 100;
      }

      .form-input-wrapper {
        margin: 1.5rem 0;
        box-shadow: 0.5rem 0.5rem 0.5rem #eee;
        border-radius: 5rem;
        position: relative;
        /* padding-top: -3rem; */
      }

      .form input {
        width: 50rem;
        height: 5rem;
        background-color: #fff;
        font-size: 1.7rem;
        padding: 0 2rem;
        letter-spacing: 0.2rem;
        border: none;
        border-radius: 5rem;
      }

      .form-input {
        box-shadow: 0.3rem 0.3rem 0.5rem #eee inset;
        color: #888;
      }

      .form-input:focus {
        box-shadow: 0.5rem 0.5rem 1rem #eee inset;
      }

      .message {
        position: absolute;
        left: 2rem;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        margin-top: 1rem;
        color: #f55e5e;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s;
      }

      .error .message {
        visibility: visible;
        opacity: 1;
      }

      .success .form-input {
        border: 0.1rem solid #46e75b;
      }

      .form-btn {
        box-shadow: 0.5rem 0.5rem 1rem #ddd;
        color: #f03535;
        margin: 2rem 0;
        letter-spacing: 0.2rem;
        font-weight: bold;
        cursor: pointer;
        border: none;
        position: relative;
        border-radius: 30px;
        top: -6rem;
        transition: top 0.3s 0.3s, box-shadow 0.3s;
      }

      .change .form-btn {
        top: 1rem;
        transition: top 0.3s, box-shadow 0.3s;
      }

      .form-btn:hover {
        box-shadow: 0.5rem 0.5rem 2rem #ddd;
      }

      /* ------------------------ */
      @keyframes moveToLeft {
        0% {
          transform: translateX(120px);
          opacity: 0;
        }

        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }

      @keyframes moveToRight {
        0% {
          transform: translateX(-120px);
          opacity: 0;
        }

        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }

      @keyframes animateBtn {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }

      .btn,
      .btn:link,
      .btn:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        position: relative;
        font-size: 1.6rem;
        border: none;
        cursor: pointer;
      }
      .btn:hover {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
        -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      }
      .btn:hover::after {
        -webkit-transform: scaleX(1.4) scaleY(1.6);
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
      .btn:active,
      .btn:focus {
        outline: none;
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
        -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      }
      .btn--white {
        background-color: #fff;
        color: #777;
      }
      .btn--white::after {
        background-color: #fff;
      }
      .btn--green {
        background-color: #55c57a;
        color: #fff;
      }
      .btn--green::after {
        background-color: #55c57a;
      }
      .btn::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -6;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
      }
      .btn--animated {
        -webkit-animation: moveInBottom 0.5s ease-out 0.75s;
        animation: moveInBottom 0.5s ease-out 0.75s;
        -webkit-animation-fill-mode: backwards;
        animation-fill-mode: backwards;
      }
      .btn-text:link,
      .btn-text:visited {
        font-size: 1.6rem;
        color: #55c57a;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid #55c57a;
        padding: 3px;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
      }
      .btn-text:hover {
        background-color: #55c57a;
        color: #fff;
        -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
      }
      .btn-text:active {
        -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      /* ------------------------- */

      .form-btn a {
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
        font-size: 20px;
        text-transform: uppercase;
        /* background-color: #ddd; */
        color: #151414;
        border: none;
        cursor: pointer;
      }

      @media (max-width: 1400px) {
        .form-bg {
          transform: rotate(0);
          height: 55rem;
        }
      }

      @media (max-width: 1000px) {
        .heading {
          font-size: 5rem;
        }

        .form-bg {
          width: 55rem;
          height: 50rem;
          margin-bottom: 10rem;
        }

        .form input {
          width: 40rem;
        }
      }

      @media (max-width: 700px) {
        html {
          font-size: 55%;
        }

        .heading {
          font-size: 4rem;
          top: 2rem;
        }

        .buttons {
          left: 2rem;
          top: 2rem;
        }

        .buttons button {
          width: 7rem;
          height: 3rem;
          font-size: 1.7rem;
        }

        .form-bg {
          height: 45rem;
          width: 45rem;
        }

        .form input {
          width: 35rem;
        }
      }

      @media (max-width: 450px) {
        html {
          font-size: 42%;
        }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="heading">
        <!-- <span class="heading-span-1">Sign</span
><span class="heading-span-2">In</span> -->
          <P>Sign IN</P>
      </h1>
      <div class="buttons">
        <button class="signin-btn">SignIn</button>
      </div>
      <div class="form-bg"></div>
      <form method="POST" class="form sign-in">
        <div class="form-input-wrapper">
          <!-- <label for="username">Username:</label> -->
          <input
            type="text"
            class="form-input"
            name="username"
            id="username"
            placeholder="User Name"
            required
          />
          <!-- <p class="message">Error Message</p> -->
        </div>
        <div class="form-input-wrapper">
          <!-- <label for="password">Password:</label> -->
          <input
            type="password"
            class="form-input"
            itemid="password"
            name="password"
            id="password"
            placeholder="Password"
            required
          />
          <!-- <p class="message">Error Message</p> -->
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <button type="submit" class="btn btn--white btn--animated">
          Login
        </button>
        <!-- Display error message if there's any -->
        {% if error %}
        <p class="message">{{ error }}</p>
        {% endif %}
      </form>
    </div>
  </body>
</html>
