<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:300,400|Slabo+27px"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
    
    <link rel="shortcut icon" type="image/png" href="url{{url_for('static', filename='images/logo.png')}}"/>
    

    <title>FaceRecognitionTracking</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

.logo {
  height: 80px;
  width: 80px;
  position: fixed;
  top: 20px;
  left: 50px;
  z-index: 100;
}

.logo img {
  width: 100%;
}

.hamburger-menu {
  width: 35px;
  height: 30px;
  position: fixed;
  top: 40px;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 100;
}

.line {
  width: inherit;
  height: 5px;
  background-color: #16c3cf;
  border-radius: 25px;
  transform-origin: right;
  transition: transform 0.5s;
}

.line-2 {
  height: 3px;
}

.change .line-1 {
  transform: rotateZ(-45deg);
}

.change .line-2 {
  transform: translate(5px, 20px);
}

.change .line-3 {
  transform: rotateZ(45deg);
}

.top-nav {
  height: 15vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(images/nav-bg.jpeg) no-repeat 50% 0;
  background-size: cover;
  position: fixed;
  top: -15vh;
  z-index: 50;
  transition: top 0.4s;
}

.change .top-nav {
  top: 0;
}

.nav-list {
  list-style: none;
  width: 80%;
  margin: auto;
  height: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-list li {
  perspective: 500px;
}

.nav-link {
  text-decoration: none;
  font-family: "Slabo 27px", serif;
  font-size: 30px;
  text-transform: uppercase;
  color: #ccc;
  background-color: #000;
  letter-spacing: 1px;
  padding: 5px 10px;
  display: block;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: top;
  transition: transform 0.3s;
}

.nav-link:hover {
  transform: rotateX(90deg);
}

.nav-link::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  bottom: -100%;
  background-color: #000;
  padding: inherit;
  color: #16c3cf;
  transform: rotateX(-90deg);
  transform-origin: top;
}

@media (max-width: 1600px) {
  .icons {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .top-nav {
    background: #010101;
  }

  .nav-list {
    justify-content: center;
  }

  .nav-link {
    font-size: 25px;
  }

  .icons {
    width: 70%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  .icon-link {
    width: 180px;
    height: 180px;
    margin: 20px;
  }

  .icon-link i {
    width: 130px;
    height: 130px;
    font-size: 40px;
  }
}

@media (max-width: 900px) {
  .banner-btn {
    width: 300px;
    height: 80px;
    font-size: 30px;
  }

  .top-nav {
    height: 25vh;
    top: -25vh;
  }

  .bottom-nav {
    height: 75vh;
    bottom: -75vh;
  }

  .nav-list {
    width: 70%;
    flex-wrap: wrap;
    align-content: center;
  }

  .nav-link {
    margin: 3px 0;
  }

  .icons {
    width: 95%;
  }

  .icon-link {
    width: 140px;
    height: 140px;
  }

  .icon-link i {
    width: 90px;
    height: 90px;
    font-size: 30px;
  }
}

@media (max-width: 750px) {
  .nav-list {
    width: 60%;
  }

  .icon-link {
    width: 120px;
    height: 120px;
  }

  .icon-link i {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 550px) {
  .banner-btn {
    width: 280px;
    height: 70px;
    font-size: 25px;
  }

  .logo {
    width: 70px;
    height: 70px;
    left: 30px;
  }

  .top-nav {
    height: 30vh;
    top: -30vh;
  }

  .bottom-nav {
    height: 70vh;
    bottom: -70vh;
  }

  .icon-link {
    width: 110px;
    height: 110px;
  }

  .icon-link i {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 450px) {
  .banner-btn {
    width: 260px;
    height: 60px;
  }

  .top-nav {
    height: 35vh;
    top: -35vh;
  }

  .bottom-nav {
    height: 65vh;
    bottom: -65vh;
  }

  .nav-list {
    width: 50%;
  }
}

.hero1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding-top: 2rem;
  height: 100vh;
  background: -webkit-linear-gradient(
    to right,
    #08c112,
    #e67009
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #08c112,
    #e67009
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  max-width: 900px;
  width: 70%;

  border-radius: 12px;
  padding: 20px 30px 120px;
  background: url(images/logo.png);
  background-size: cover;
  background-position: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: 3px solid; /* This defines the width of the gradient border */
  border-image: linear-gradient(45deg, orange, green) 0.5;
}

.container2 {
  width: 60%;
  align-items: center;
  justify-content: center;
  /* padding-right: 20rem; */
}

header {
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  /* cursor: pointer; */
}

.form header {
  font-size: 30px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.wrapper.active .signup header {
  opacity: 0.6;
}
.wrapper form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}
form input {
  height: 60px;
  outline: none;
  border: none;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  border-radius: 8px;
  background: #fff;
}

form a {
  color: #333;
  text-decoration: none;
}
form a:hover {
  text-decoration: underline;
}
.form-btn {
  border-radius: 10px;
  border: none;
  background: #ff6b01;
  height: 50px;
  margin-top: 15px;
  padding: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.form-btn:hover {
  background: #fff;
}

.form-btn a {
  text-decoration: none;
  color: #fff;
  text-transform: scale(1.3);
}

.form-btn a:hover {
  color: #fc1900;
  text-transform: scale(1.5);
  text-transform: uppercase;
}

    </style>

  </head>
  <body>
    <div class="container">
      <div class="banner">
        <div class="logo">
          <a href="#"><img src="{{url_for('static', filename= 'images/logo.png')}}" /></a>
        </div>
        <section class="hero1">
          <div class="wrapper">
            <div class="container2">
              <header>Register</header>
              <form action="/add" method="POST">
                <input type="text" id="username" name="newusername" placeholder="Student Name" required />
                <input type="number" id="userid" name="newuserid" placeholder="Student ID" required />
                <!-- <input type="text" placeholder="Year" required /> -->
                
                <button type="submit" class="form-btn">Register</button>
              </form>
            </div>
          </div>
        </section>
      </div>

      <div class="nav-wrapper">
        <div class="hamburger-menu">
          <div class="line line-1"></div>
          <div class="line line-2"></div>
          <div class="line line-3"></div>
        </div>

        <nav class="top-nav">
          <ul class="nav-list">
            <li>
              <a href="/home" class="nav-link" data-text="Home">Home</a>
            </li>
            <li>
              <a href="/register" class="nav-link" data-text="Register">Register</a>
            </li>
            <li>
            <li>
              <a href="/recordOut" class="nav-link" data-text="Record Outing"
                >Record Outing</a
              >
            </li>
            
              <a href="/detail" class="nav-link" data-text="Details">Details</a>
            </li>
            <li>
              <a href="/recordIn" class="nav-link" data-text="Record Return"
                >Record Return</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <script>
      document
        .querySelector(".hamburger-menu")
        .addEventListener("click", () => {
          document.querySelector(".nav-wrapper").classList.toggle("change");
        });
    </script>
  </body>
</html>
